html
  head
    title
    base(href='/')
    link(rel="stylesheet" type="text/css" href="css/main.css" media="screen")
  body
    div.outer
      div.middle
        div.inner
          #skateboard
          img(src="img/main.png")
