html { 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* TODO background-position: left top; */
  /* TODO background-size: 100% 100%; */
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto; 
    /*width: whatever width you want*/;
}
img {
    display: block;
    margin: auto;
}
#skateboard { shape-outside:  polygon(nonzero, 423px 252px, 442px 273px, 473px 256px, 553px 181px, 565px 167px, 564px 150px, 541px 136px, 522px 149px, 434px 228px); }
#dice { shape-outside: polygon(nonzero, 423px 252px, 442px 273px, 478px 256px, 554px 185px, 564px 150px, 541px 136px, 522px 149px, 434px 228px); }
